<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

<f:layout name="Content"/>

<f:section name="Configuration">

    <flux:form id="banner" options="{group:'Dopetrope',Fluidcontent: {sorting:10},icon:'EXT:t3content_dopetrope/ext_icon.png'}" localLanguageFileRelativePath="/Resources/Private/Language/locallang_banner.xlf">
            
        <flux:field.file name="image" allowed="jpg,png,svg" showThumbnails="1" />
        <flux:field.input name="headline" />
        <flux:field.text name="teasertext" rows="5" cols="30" enableRichText="TRUE" />

    </flux:form>
</f:section>

<f:section name="Preview">
Banner
<hr/>
    <section id="banner" style="background-image:url('{f:uri.image(src:image,treatIdAsReference:'1')}');padding: 6em 0;margin:3em 0 0 0;background-position:center center;background-size:cover;background-repeat:no-repeat;text-align:center;position:relative;">
      <header style="display:inline-block;padding:2.5em 5em;border-radius:5px;background-color:rgba(34, 30, 31, 0.98);">
        <f:if condition="{headline}">
          <h2 style="font-size:2.5em;margin:0 0 0.65em 0;color:#fff;font-weight:700;">{headline}</h2>
        </f:if>
        <div style="font-size:1.5em;color:#d52349;padding:0;font-style:normal;margin:0;">{teasertext->f:format.raw()}</div>
      </header>
    </section>
</f:section>

<f:section name="Main">
    <section id="banner" style="background-image:url('{f:uri.image(src:image,treatIdAsReference:'1')}')">
      <header>
        <f:if condition="{headline}">
          <h2>{headline}</h2>
        </f:if>
        {teasertext->f:format.raw()}
      </header>
    </section>
</f:section>

</div>