<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

<f:layout name="Content"/>

<f:section name="Configuration">
    <flux:form id="boxGrid" options="{group:'Dopetrope',Fluidcontent: {sorting:10},icon:'EXT:t3content_dopetrope/ext_icon.png'}" localLanguageFileRelativePath="/Resources/Private/Language/locallang_boxGrid.xlf">
	    <flux:grid>
	        <flux:grid.row>
	            <flux:grid.column colspan="12" name="content" colPos="400" />
	        </flux:grid.row>
	    </flux:grid>
    </flux:form>
</f:section>

<f:section name="Preview">
Box Grid
<hr/>
</f:section>

<f:section name="Main">
    <section class="box">
		<flux:content.render area="content" />
    </section>
</f:section>

</div>