<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

<f:layout name="Content"/>

<f:section name="Configuration">
    <flux:form id="buttons" options="{group: 'Dopetrope',Fluidcontent: {sorting:20},icon:'EXT:t3content_dopetrope/ext_icon.png'}" localLanguageFileRelativePath="/Resources/Private/Language/locallang_buttons.xlf">

        <flux:form.sheet name="buttonsSheet" label="Buttons" variables="{_all}">
            <flux:form.section name="settings.buttons" label="Buttons">
                <flux:form.object name="default" label="Default Button">
                    <flux:field.input name="btnText" label="Button Text" />
                    <flux:field.input name="btnLink" label="Button Link">
                        <flux:wizard.link label="'Link wizard'" width="800" height="800"></flux:wizard.link>
                    </flux:field.input>
                </flux:form.object>
                <flux:form.object name="alternate1" label="Alternate 1">
                    <flux:field.input name="btnText" label="Button Text" />
                    <flux:field.input name="btnLink" label="Button Link">
                        <flux:wizard.link label="'Link wizard'" width="800" height="800"></flux:wizard.link>
                    </flux:field.input>
                </flux:form.object>
            </flux:form.section>
        </flux:form.sheet>
        <flux:form.sheet name="optionsSheet" label="Options" variables="{_all}">
            <flux:field.select name="settings.btnAlign"
                             label="Buttons Align"
                             default="text-align:center;"
                             items="{
                                 0:{0:'Auto',1:'text-align:auto;'},
                                 1:{0:'Left',1:'text-align:left;'},
                                 2:{0:'Center',1:'text-align:center;'},
                                 3:{0:'Right',1:'text-align:right;'}
                              }"/>
        </flux:form.sheet>

    </flux:form>
</f:section>

<f:section name="Preview">
    <small><strong>Buttons</strong></small>
    <hr/>
    <f:if condition="{settings.buttons}">
        <ul class="actions" style="{settings.btnAlign}">
            <f:for each="{settings.buttons}" as="obj" key="id">
                <f:if condition="{obj.default}">
                    <li><a class="button big btn btn-lg" style="background:#d52349;color:white;" href="{f:uri.typolink(parameter:obj.default.btnLink)}">{obj.default.btnText}</a></li>
                </f:if>
                <f:if condition="{obj.alternate1}">
                    <li><a class="button alt big btn btn-lg" style="background:#252122;color:white;" href="{f:uri.typolink(parameter:obj.alternate1.btnLink)}">{obj.alternate1.btnText}</a></li>
                </f:if>
            </f:for>
        </ul>
    </f:if>
    <f:render section="Css" />
</f:section>

<f:section name="Main">
    <f:if condition="{settings.buttons}">
        <ul class="actions" style="{settings.btnAlign}">
            <f:for each="{settings.buttons}" as="obj" key="id">
                <f:if condition="{obj.default}">
                    <li><a class="button big" href="{f:uri.typolink(parameter:obj.default.btnLink)}">{obj.default.btnText}</a></li>
                </f:if>
                <f:if condition="{obj.alternate1}">
                    <li><a class="button alt big href="{f:uri.typolink(parameter:obj.alternate1.btnLink)}">{obj.alternate1.btnText}</a></li>
                </f:if>
            </f:for>
        </ul>
    </f:if>
</f:section>

<f:section name="Css">
    <style type="text/css">
    @media screen and (min-width: 737px) {ul.actions li:first-child {margin-left: 0;}}
    @media screen and (min-width: 737px) {ul.actions li {display: inline-block;}}
    </style>
</f:section>

</div>