<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

<f:layout name="Content"/>

<f:section name="Configuration">
    <flux:form id="cardBox" options="{group:'Dopetrope',Fluidcontent: {sorting:30},icon:'EXT:t3content_dopetrope/ext_icon.png'}" localLanguageFileRelativePath="/Resources/Private/Language/locallang_cardBox.xlf">

        <flux:form.sheet name="textSheet" label="Card Content" variables="{_all}">
	        <flux:field.file name="image" allowed="jpg,png,svg" showThumbnails="1" label="Image" />
	        <flux:field.input name="headline" label="Headline" />
	        <flux:field.text name="text" rows="5" cols="30" enableRichText="TRUE" label="Text" />
    	</flux:form.sheet>
        <flux:form.sheet name="buttonsSheet" label="Buttons" variables="{_all}">
            <flux:form.section name="settings.buttons" label="Buttons">
                <flux:form.object name="default" label="Default Button">
                    <flux:field.input name="btnText" label="Button Text" />
                    <flux:field.input name="btnLink" label="Button Link">
                        <flux:wizard.link label="'Link wizard'" width="800" height="800"></flux:wizard.link>
                    </flux:field.input>
                </flux:form.object>
                <flux:form.object name="alternate1" label="Alternate 1">
                    <flux:field.input name="btnText" label="Button Text" />
                    <flux:field.input name="btnLink" label="Button Link">
                        <flux:wizard.link label="'Link wizard'" width="800" height="800"></flux:wizard.link>
                    </flux:field.input>
                </flux:form.object>
            </flux:form.section>
            <flux:field.select name="settings.btnAlign"
                             label="Buttons Align"
                             default="text-align:center;"
                             items="{
                                 0:{0:'Auto',1:'text-align:auto;'},
                                 1:{0:'Left',1:'text-align:left;'},
                                 2:{0:'Center',1:'text-align:center;'},
                                 3:{0:'Right',1:'text-align:right;'}
                              }"/>
        </flux:form.sheet>
    </flux:form>
</f:section>

<f:section name="Preview">
CardBox
<hr/>
	<section class="box">
		<f:if condition="{image}">
			<a href="#" class="image featured"><img src="{f:uri.image(src:image,treatIdAsReference:'1',width:600)}" alt="image" /></a>
		</f:if>
		<f:if condition="{headline}">
			<header>
				<h3>{headline}</h3>
			</header>
		</f:if>
		{text->f:format.html()}
	    <f:if condition="{settings.buttons}">
			<footer style="{settings.btnAlign}">
	            <f:for each="{settings.buttons}" as="obj" key="id">
	                <f:if condition="{obj.default}">
	                    <a href="{f:uri.typolink(parameter:obj.default.btnLink)}"><span class="button">{obj.default.btnText}</span></a>
	                </f:if>
	                <f:if condition="{obj.alternate1}">
	                    <a href="{f:uri.typolink(parameter:obj.alternate1.btnLink)}"><span class="button alt">{obj.alternate1.btnText}</span></a>
	                </f:if>
	                &nbsp;
	            </f:for>
			</footer>
	    </f:if>
	</section>
</f:section>

<f:section name="Main">
	<section class="box">
		<f:if condition="{image}">
			<a href="#" class="image featured"><img src="{f:uri.image(src:image,treatIdAsReference:'1',width:600)}" alt="image" /></a>
		</f:if>
		<f:if condition="{headline}">
			<header>
				<h3>{headline}</h3>
			</header>
		</f:if>
		{text->f:format.html()}
	    <f:if condition="{settings.buttons}">
			<footer style="{settings.btnAlign}">
	            <f:for each="{settings.buttons}" as="obj" key="id">
	                <f:if condition="{obj.default}">
	                    <a href="{f:uri.typolink(parameter:obj.default.btnLink)}"><span class="button">{obj.default.btnText}</span></a>
	                </f:if>
	                <f:if condition="{obj.alternate1}">
	                    <a href="{f:uri.typolink(parameter:obj.alternate1.btnLink)}"><span class="button alt">{obj.alternate1.btnText}</span></a>
	                </f:if>
	                &nbsp;
	            </f:for>
			</footer>
	    </f:if>
	</section>
</f:section>

</div>