<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

<f:layout name="Content"/>

<f:section name="Configuration">
    <flux:form id="intro" options="{group:'Dopetrope',Fluidcontent: {sorting:10},icon:'EXT:t3content_dopetrope/ext_icon.png'}" localLanguageFileRelativePath="/Resources/Private/Language/locallang_intro.xlf">

      <flux:form.sheet name="leftSheet" label="Left" variables="{_all}">
        <flux:field.input name="headline1" label="Left Title" />
        <flux:field.text name="teasertext1" rows="5" cols="30" enableRichText="TRUE" label="Left Text" />
      </flux:form.sheet>
      <flux:form.sheet name="middleSheet" label="Middle" variables="{_all}">
        <flux:field.input name="headline2" label="Middle Title" />
        <flux:field.text name="teasertext2" rows="5" cols="30" enableRichText="TRUE" label="Middle Text" />
      </flux:form.sheet>
      <flux:form.sheet name="rightSheet" label="Right" variables="{_all}">
        <flux:field.input name="headline3" label="Right Title" />
        <flux:field.text name="teasertext3" rows="5" cols="30" enableRichText="TRUE" label="Right Text" />
      </flux:form.sheet>

    </flux:form>
</f:section>

<f:section name="Preview">
Intro
<hr/>
<section id="intro">
  <div class="row">
  <div class="col-sm-4 col-xs-12">
  <section class="first">
  <i class="icon featured fa-cog">
</i>
<f:if condition="{headline1}">
  <header><h2>{headline1}</h2></header>
</f:if>
{teasertext1->f:format.html()}
</section>
</div>
<div class="col-sm-4 col-xs-12">
  <section class="middle">
  <i class="icon featured alt fa-flash">
</i>
<f:if condition="{headline2}">
  <header><h2>{headline2}</h2></header>
</f:if>
{teasertext2->f:format.html()}
</section>
</div>
<div class="col-sm-4 col-xs-12">
  <section class="last">
  <i class="icon featured alt2 fa-star">
</i>
<f:if condition="{headline3}">
  <header><h2>{headline3}</h2></header>
</f:if>
{teasertext3->f:format.html()}
</section>
</div>
</div>
</section>
</f:section>

<f:section name="Main">
<section id="intro">
  <div class="row">
    <div class="4u 12u(mobile)">
      <section class="first">
        <i class="icon featured fa-cog"></i>
        <f:if condition="{headline1}">
          <header><h2>{headline1}</h2></header>
        </f:if>
        {teasertext1->f:format.html()}
      </section>
    </div>
    <div class="4u 12u(mobile)">
      <section class="middle">
        <i class="icon featured alt fa-flash"></i>
        <f:if condition="{headline2}">
          <header><h2>{headline2}</h2></header>
        </f:if>
        {teasertext2->f:format.html()}
      </section>
    </div>
    <div class="4u 12u(mobile)">
      <section class="last">
        <i class="icon featured alt2 fa-star"></i>
        <f:if condition="{headline3}">
          <header><h2>{headline3}</h2></header>
        </f:if>
        {teasertext3->f:format.html()}
      </section>
    </div>
  </div>
</section>

</f:section>

</div>