<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

<f:layout name="Content"/>

<f:section name="Configuration">
    <flux:form id="socialicons" options="{group: 'Dopetrope',Fluidcontent: {sorting:20},icon:'EXT:t3content_dopetrope/ext_icon.png'}" localLanguageFileRelativePath="/Resources/Private/Language/locallang_socialicons.xlf">
        <flux:field.input name="facebookLink" label="Facebook Link">
            <flux:wizard.link label="'Facebook Link'" width="800" height="800"></flux:wizard.link>
        </flux:field.input>
        <flux:field.input name="twitterLink" label="Twitter Link">
            <flux:wizard.link label="'Twitter Link'" width="800" height="800"></flux:wizard.link>
        </flux:field.input>
        <flux:field.input name="linkedinLink" label="LinkedIn Link">
            <flux:wizard.link label="'LinkedIn Link'" width="800" height="800"></flux:wizard.link>
        </flux:field.input>
        <flux:field.input name="googleplusLink" label="Google Plus Link">
            <flux:wizard.link label="'Google Plus Link'" width="800" height="800"></flux:wizard.link>
        </flux:field.input>
    </flux:form>
</f:section>

<f:section name="Preview">
Social Icons
<hr/>
    <ul class="social">
        <f:if condition="{facebookLink}">
          <li><f:link.typolink parameter="{facebookLink}" class="icon fa-facebook"><span class="">facebook ({facebookLink})</span></f:link.typolink></li>
        </f:if>
        <f:if condition="{twitterLink}">
          <li><f:link.typolink parameter="{twitterLink}" class="icon fa-twitter"><span class="">facebook ({twitterLink})</span></f:link.typolink></li>
        </f:if>
        <f:if condition="{linkedinLink}">
          <li><f:link.typolink parameter="{linkedinLink}" class="icon fa-linkedin"><span class="">facebook ({linkedinLink})</span></f:link.typolink></li>
        </f:if>
        <f:if condition="{googleplusLink}">
          <li><f:link.typolink parameter="{googleplusLink}" class="icon fa-google-plus"><span class="">facebook ({googleplusLink})</span></f:link.typolink></li>
        </f:if>
    </ul>
</f:section>

<f:section name="Main">
    <ul class="social">
        <f:if condition="{facebookLink}">
          <li><f:link.typolink parameter="{facebookLink}" class="icon fa-facebook"><span class="label">facebookLink</span></f:link.typolink></li>
        </f:if>
        <f:if condition="{twitterLink}">
          <li><f:link.typolink parameter="{twitterLink}" class="icon fa-twitter"><span class="label">twitterLink</span></f:link.typolink></li>
        </f:if>
        <f:if condition="{linkedinLink}">
          <li><f:link.typolink parameter="{linkedinLink}" class="icon fa-linkedin"><span class="label">linkedinLink</span></f:link.typolink></li>
        </f:if>
        <f:if condition="{googleplusLink}">
          <li><f:link.typolink parameter="{googleplusLink}" class="icon fa-google-plus"><span class="label">googleplusLink</span></f:link.typolink></li>
        </f:if>
    </ul>
</f:section>

</div>