<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
      xmlns:se="http://typo3.org/ns/SalvatoreEckel/T3cms/ViewHelpers">

<f:layout name="Content"/>

<f:section name="Configuration">
    <flux:form id="socialIcons2" label="Social Icons 2 (new)" options="{group: 'Dopetrope',Fluidcontent: {sorting:20},icon:'EXT:t3content_dopetrope/ext_icon.png'}" localLanguageFileRelativePath="/Resources/Private/Language/locallang_socialicons.xlf">

        <flux:form.sheet name="iconsSheet" label="Icons" variables="{_all}">
            <flux:form.section name="settings.icons" label="icons">
                <flux:form.object name="icon" label="Icon">
                    <flux:field.input name="iconLink" label="Icon Link">
                        <flux:wizard.link label="'Link wizard'" width="800" height="800"></flux:wizard.link>
                    </flux:field.input>
                    <flux:field.select name="iconClass"
                                     label="Icon"
                                     default="fa-envelope-o"
                                     items="{
                                         0:{0:'facebook',1:'fa-facebook'},
                                         1:{0:'linkedin',1:'fa-linkedin'},
                                         2:{0:'google-plus',1:'fa-google-plus'},
                                         3:{0:'twitter',1:'fa-twitter'},
                                         4:{0:'dribbble',1:'fa-dribbble'},
                                         5:{0:'instagram',1:'fa-instagram'},
                                         6:{0:'github',1:'fa-github'},
                                         7:{0:'500px',1:'fa-500px'},
                                         8:{0:'phone',1:'fa-phone'},
                                         9:{0:'envelope-o',1:'fa-envelope-o'}
                                      }"/>
                </flux:form.object>
            </flux:form.section>
        </flux:form.sheet>
        <flux:form.sheet name="optionsSheet" label="Options" variables="{_all}">
        </flux:form.sheet>

    </flux:form>
</f:section>

<f:section name="Preview">
    <small><strong>Social Icons</strong></small>
    <hr/>
    <f:if condition="{settings.icons}">
      <ul class="social">
        <f:for each="{settings.icons}" as="obj" key="id">
            <f:if condition="{obj.icon}">
              <li><a href="{obj.icon.iconLink}" target="_blank" class="icon {obj.icon.iconClass}"><span>{obj.icon.iconClass} - {obj.icon.iconLink}</span></a></li>
            </f:if>
        </f:for>
      </ul>
    </f:if>
</f:section>

<f:section name="Main">
    <f:if condition="{settings.icons}">
      <ul class="social">
        <f:for each="{settings.icons}" as="obj" key="id">
            <f:if condition="{obj.icon}">
              <li><a href="{obj.icon.iconLink}" class="icon style2 {obj.icon.iconClass}"></a></li>
            </f:if>
        </f:for>
      </ul>
    </f:if>
</f:section>

</div>
